<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.sys.role.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.lanou.sys.role.bean.Role">
        <id property="id" column="id"/>
        <result property="create_id" column="create_id"/>
        <result property="create_time" column="create_time"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="update_id" column="update_id"/>
        <result property="update_time" column="update_time"/>

        <association property="user" column="id" javaType="com.lanou.sys.user.bean.User"
                    select="com.lanou.sys.user.mapper.UserMapper.selectById"/>


    </resultMap>
    <insert id="save"
            parameterType="com.lanou.sys.role.bean.Role">
        INSERT INTO sys_role(name,status,sort,remark,create_time,create_id,update_time) VALUES (#{name},#{status},#{sort},#{remark},#{create_time},#{create_id},#{update_time})
    </insert>


    <select id="findAll" resultMap="roleMap">
        SELECT  * FROM sys_role
    </select>

    <select id="findAllGJ" resultMap="roleMap" parameterType="com.lanou.sys.role.bean.Role">
        SELECT  *FROM sys_role WHERE name LIKE CONCAT('%',#{name},'%')
    </select>
    <select id="findRoleById"
            parameterType="int"
            resultType="com.lanou.sys.role.bean.Role">
        SELECT * FROM sys_role WHERE id = #{value}
    </select>
    <select id="findMaxSort"
            resultType="int">
        SELECT max(sort) FROM sys_role

    </select>


    <delete id="deleteByRoleId"  parameterType="java.lang.Integer">
        DELETE  FROM sys_role WHERE id =#{id}
    </delete>

    <delete id="deleteForU_RoleId" parameterType="java.lang.Integer">
        DELETE  FROM  sys_role_user WHERE  roleid = #{id}
    </delete>




</mapper>