<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.sys.user.mapper.UserMapper">
    <resultMap id="userMap" type="com.lanou.sys.user.bean.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="role_id" property="role_id"/>
        <result column="usertype" property="usertype"/>
        <result column="state" property="state"/>
        <result column="third_id" property="third_id"/>
        <result column="end_time" property="end_time"/>
        <result column="email" property="email"/>
        <result column="tel" property="tel"/>
        <result column="address" property="address"/>
        <result column="title_url" property="title_url"/>
        <result column="remark" property="remark"/>
        <result column="theme" property="theme"/>
        <result column="back_site_id" property="back_site_id"/>
        <result column="create_site_id" property="create_site_id"/>
        <result column="create_time" property="create_time"/>
        <result column="create_id" property="create_id"/>
    </resultMap>
    <resultMap id="ExpResultMap" type="com.lanou.sys.user.bean.User" extends="userMap">
        <association property="role" javaType="com.lanou.sys.role.bean.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </association>
    </resultMap>
    <insert id="save"
            parameterType="com.lanou.sys.user.bean.User">
        INSERT INTO sys_user(username,password,role_id,state,tel,email,create_time,create_id) VALUES (#{username},#{password},#{role_id},#{state},#{tel},#{email},#{create_time},#{create_id})
    </insert>
    <update id="changeState"
            parameterType="com.lanou.sys.user.bean.User">
       UPDATE sys_user SET state=#{state},update_time=#{update_time} where id=#{id}
    </update>
    <delete id="deleteById"
            parameterType="int">
        DELETE FROM  sys_user WHERE id=#{id}
    </delete>

    <select id="selectById" resultMap="userMap" parameterType="integer">
        SELECT *FROM sys_user WHERE id  IN (select userid from sys_role_user WHERE roleid = #{value} )
    </select>
    <select id="findAll"
            resultMap="ExpResultMap">
     SELECT u.id,u.username,u.role_id,u.state,u.tel,u.email,u.create_time,
      r.id rid,r.name rname
      FROM sys_user u
      LEFT JOIN sys_role r
      ON u.role_id = r.id

    </select>
    <select id="findUserById"
            parameterType="int"
            resultType="com.lanou.sys.user.bean.User">
        SELECT * FROM sys_user WHERE id=#{value}
    </select>

    <!--根据姓名查找用户-->
    <select id="findUserByName"
            parameterType="java.lang.String"
            resultMap="ExpResultMap">
        SELECT
        u.id,
        u.username,
        u.password,
        u.state,
        u.tel,
        u.email,
        u.create_time,
        r.id rid,
        r.name rname

        FROM sys_user u
        LEFT JOIN sys_role r
        ON u.role_id = r.id  WHERE username = #{value}
    </select>

    <select id="fuzzyFindAll" resultMap="ExpResultMap" parameterType="com.lanou.sys.user.bean.ext.ExtUser">

        SELECT
        u.id,
        u.username,
        u.password,
        u.state,
        u.tel,
        u.email,
        u.create_time,
        r.id rid,
        r.name rname

        FROM sys_user u
        LEFT JOIN sys_role r
        ON u.role_id = r.id
        <where>
            1=1
            <if test="username != ''">
                AND username LIKE "%"#{username}"%"
            </if>
            <if test="datemin != ''">
                AND u.create_time >= #{datemin}
            </if>
            <if test="datemax != ''">
                AND #{datemax} >= u.create_time
            </if>

        </where>

    </select>
</mapper>