<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.sys.picture.mapper.PictureMapper">
    <!--保存图片-->
    <insert id="save"
            parameterType="com.lanou.sys.picture.bean.Picture">
        INSERT INTO picture(name,classify,src,tags,update_time,state) VALUES (#{name},#{classify},#{src},#{tags},#{update_time},#{state})
    </insert>

    <!--查询所有-->
    <select id="findAll"
            resultType="com.lanou.sys.picture.bean.Picture">
      SELECT * FROM picture
    </select>
</mapper>